__pycache__/spacy.cpython-312.pyc
__pycache__/user.cpython-312.pyc
__pycache__/saveUserUploads.cpython-312.pyc
__pycache__/getDocumentContents.cpython-312.pyc
__pycache__/app.cpython-312.pyc
index.html
